<h1>Información</h1>
<p>¡Bienvenido a mi aplicación de Rails! Esta es una aplicación web sencilla que permite a los usuarios gestionar una lista de amigos.</p>

<h2>Características</h2>
<ul>
  <li><strong>Operaciones CRUD:</strong> Puedes crear, leer, actualizar y eliminar entradas en tu lista de amigos.</li>
  <li><strong>Autenticación:</strong> Mi aplicación incluye autenticación de usuarios, permitiendo a los usuarios registrarse, iniciar sesión y cerrar sesión de forma segura.</li>
</ul>

<h2>Operaciones CRUD</h2>
<p>Mi aplicación proporciona una interfaz sencilla e intuitiva para gestionar tu lista de amigos:</p>
<ul>
  <li><strong>Crear:</strong> Añade nuevos amigos a tu lista llenando un formulario sencillo.</li>
  <li><strong>Leer:</strong> Ve los detalles de cada amigo en tu lista.</li>
  <li><strong>Actualizar:</strong> Edita la información de tus amigos si hay algún cambio.</li>
  <li><strong>Eliminar:</strong> Elimina amigos de tu lista si ya no son necesarios.</li>
</ul>

<h2>Autenticación</h2>
<p>Utilizo Devise para la autenticación de usuarios, proporcionando una forma segura y confiable de gestionar las sesiones de usuario. Los usuarios pueden registrarse para una nueva cuenta, iniciar sesión con sus credenciales y cerrar sesión cuando terminen.</p>

<p>Consultas: ignadiasg@gmail.com</p>